
body{
    margin: 0;
    padding: 0;
    border: solid none 1px;
    height: 610px;
    background-color: whitesmoke;
    background-image:url("21.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 .box{
       
        padding: 50px;
        width: 18%;
        height: 250px;
        background-image: url("211.jpg");
        margin-left: 37%;
        margin-top: 5%;
        border-radius: 3px;
        background-color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
        border:solid none 1px;
        align-items: center;
        display: block;
        flex-direction: column;
        align-items: center;
        opacity: 0.9;
        box-shadow: 0px 0px 5px 10px rgb(97, 88, 88);
        margin-right: 455px;

        
        
        
        
    }
    form{
        
    }
    #btn{
        width: 70px;
    
    height: 35px;
    background-color:#FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    color: black;
    
    margin-left: 75px;
    
    }
    #Email{
        width: 170px;
        height: 25px;
        margin-top: 8px;
        font-family:serif;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
         color: black;
    background-color: white;
    margin-left: 23px;
    text-align: center;
    
    }
    #password{
        width: 170px;
        height: 25px;
        margin-top: 8px;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
        color: rgb(107, 101, 101);
    background-color: white;
    margin-left: 23px;
    color: black;
    text-align: center;
    
    
    }
    #username{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        margin-left: 23px;
        background-color:#E11b8d;
        background-image: url("211.jpg");
        
        border-radius: 10px;
        text-align: center;
       
    }
#pass{
    font-family: 'Times New Roman', Times, serif;
    color: white;
  
    margin-left: 23px;
    background-color: #E11b8d;
    background-image: url("211.jpg");
    
    border-radius: 10px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    
    color: white;
    margin-left: 23px;
    background-color: #E11b8d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("211.jpg");
    width: 174px;
    margin-bottom: 15px;
    
}
#btn:hover{
    background-color: pink;
    border-radius: 15px;
    border:solid rgb(240, 237, 237) 5px;
}
#Email:hover{
   
    border-radius: 10px;
    border:solid rgb(240, 237, 237) 5px;
}
#password:hover{
   
    border-radius: 10px;
    border:solid rgb(240, 237, 237) 5px;
}
.value{
    margin-left: 1px;
}
