
*{
    margin: 0;
    padding: 0;
    
    background: #EC3AAA;
    
 
   
    
}
    .box{
       
        padding: 50px;
        width: 18%;
        height: 250px;
        background-image: url("211.jpg");
        margin-left: 37%;
        margin-top: 5%;
        border-radius: 3px;
        background-color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
        border:solid red 1px;
        

        
        
        
        
    }
    form{
        
    }
    #btn{
        width: 150px;
    margin-left: 14px;
    height: 35px;
    background-color:#FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    color: black;
    
    margin-left: 25px;
    
    }
    #Email{
        width: 170px;
        height: 25px;
        margin-top: 8px;
        font-family:serif;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
         color: black;
    background-color: white;
    margin-left: 13px;
    
    }
    #password{
        width: 170px;
        height: 25px;
        margin-top: 8px;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 10px;
        color: rgb(107, 101, 101);
    background-color: white;
    margin-left: 13px;
    color: black;
    
    
    }
    #username{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        margin-left: 13px;
        background-color:#ff5aac;
        background-image: url("211.jpg");
        text-decoration:underline;
       
    }
#pass{
    font-family: 'Times New Roman', Times, serif;
    color: white;
  
    margin-left: 13px;
    background-color: #ff5aac;
    background-image: url("211.jpg");
    text-decoration:underline;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
    color: white;
    margin-left: 13px;
    background-color: #ff5aac;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("211.jpg");
    text-decoration:underline;
    
}
#btn:hover{
    background-color: pink;
    border-radius: 15px;
    border:solid rgb(240, 237, 237) 5px;
}
#Email:hover{
   
    border-radius: 10px;
    border:solid rgb(240, 237, 237) 5px;
}
#password:hover{
   
    border-radius: 10px;
    border:solid rgb(240, 237, 237) 5px;
}
    

