/* Navigation */

#navbar {
    flex-direction: column;
    flex-wrap: wrap;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
    flex-wrap: wrap;
}
/* Home section */
#home{
    display: flex;
    height: 370px; 
    padding: 3px 28px;
    flex-wrap: wrap;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    width: auto;
    height: 375px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

.clients img{
    width: auto;
    padding: 6px;
    height: auto;
    flex-wrap: wrap;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#services .box{
  
    border-radius: 20px;
    margin: 20px;
    background-color:rgb(243, 236, 236);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    height: 406px;
    color: rgb(53, 41, 41);
    border: solid red 1px;
   
    
}
.clients {
    width: auto;
    
    
 
}
.clients1 img{
    width: 80px;
    
}
.clients2 img{
    width: 80px;
}
.clients3 img{
    width: 80px;
    
    
}