#navbar{
    flex-direction: column;
}
#navbar::before{
    font-size: 16px;
    margin: 0px 5px;
}
#navbar ul li a{
    margin: 20px 11px;
      font-size: 20px;
}
#home{
    height: 516px;
}
#navbar ul{
    display: flex;
    flex-wrap: wrap;
    
}
#services .box{
  
    border-radius: 20px;
    margin: 20px;
    background-color:rgb(243, 236, 236);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 10%;
    color: rgb(53, 41, 41);
    border: solid red 1px;
   
    
}