#navbar{
    flex-direction: column;
}
#navbar::before{
    font-size: 16px;
    margin: 0px 5px;
}
#navbar ul li a{
    margin: 20px 11px;
      font-size: 20px;
}
#home{
    height: 516px;
}
#navbar ul{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(243, 243, 243);
    border: solid 1px rgb(243, 243, 243);
    border-radius: 20px;
    opacity: 0.7;
}